<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Student Information</a>
     
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#studentModal" (click)="onAddClick();">Add Student</button>
 
    </div>
  </nav>

 <div class="container mt-2">
    <table class="table table-hover table-striped table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of studentDetails">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.address}}</td>
                <td>
                    <button (click)="edit(item)" data-bs-toggle="modal" data-bs-target="#studentModal" class="btn btn-sm btn-warning text-white mx-2">Edit</button>

                    <button (click)="deleteStudentDetail(item.id)" class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
 </div> 



  <!-- Modal -->
  <div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="studentModalLabel">Student Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="studentForm">
                <div class="mb-3">
                    <label  class="form-label">Full Name</label>
                    <input type="text" class="form-control"  placeholder="Full Name" formControlName="name">
                  </div>
    
                  <div class="mb-3">
                    <label  class="form-label">Email</label>
                    <input type="email" class="form-control"  placeholder="example@gmail.com" formControlName="email">
                  </div>
    
                  
                  <div class="mb-3">
                    <label  class="form-label">Phone</label>
                    <input type="number" class="form-control"  placeholder="Phone" formControlName="phone">
                  </div>
    
                  
                  <div class="mb-3">
                    <label  class="form-label">Address</label>
                    <input type="text" class="form-control"  placeholder="Address" formControlName="address">
                  </div>

            </form>
            

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close" (click)="reset();">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateStudentDetails()" *ngIf="showUpdateBtn">Update Student</button>

          <button type="button" class="btn btn-success" (click)="postStudentDetails()" *ngIf="showAddBtn">Add Student</button>
        </div>
      </div>
    </div>
  </div>
  